.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15rem;
  background-color: lightblue;
}

.user_info {
  display: flex;
  margin-top: 7rem;
  margin-left: -7rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.user_img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  z-index: 10;
}

.text {
  width: 22rem;
  text-align: center;
  z-index: 10;
  padding: 2rem;
  border: 0.1rem groove;
  background-color: #7392d6;
  box-shadow: 0.3rem 0.3rem 0.3rem lightblue;
}

.searchbar {
  z-index: 10;
}

.icon {
  font-size: 3rem;
  z-index: 10;
}

@media (max-width: 900px) {
  .user_info {
    flex-direction: column;
    margin: 7rem auto;
    height: 36rem;
  }
}
