.message_sender {
  font-size: 0.8rem;
}

.message_content {
  color: white;
  background-color: #7392d6;
  border-radius: 20px;
  max-width: 20rem;
  padding: 1rem;
  box-shadow: 4px 3px 8px 1px #383a36;
}

.sent_message {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
}

.received_message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}
