.form_panel {
  height: 25rem;
  width: 50%;
  padding: 1em;
  margin: 4rem 2rem;
  border: 0.1rem groove;
  box-shadow: 0.3rem 0.3rem 0.3rem lightblue;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.notes {
  max-width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.notes_btn {
  width: auto;
  align-self: flex-start;
}

.extra_tasks {
  display: flex;
  flex-direction: row;
  height: 2rem;
}

.form_btn {
  width: 8rem;
  margin: 1rem auto;
}

.icon {
  text-align: center;
  font-size: 7rem;
  margin: auto;

}

::-webkit-scrollbar {
  display: none;
}
