.form_panel {
  height: 25rem;
  width: 50%;
  padding: 3em;
  margin: 4rem 2rem;
  border: 0.1rem groove;
  box-shadow: 0.3rem 0.3rem 0.3rem lightblue;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: white;
}

.form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: center;
  width: 7rem;
  margin: 16rem auto 0;
}

.search_results {
  position: absolute;
  z-index: 5;
  margin-top: 7rem;
  width: 18rem;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
}

.participants {
  height: 2rem;
}

.participants:hover {
  color: red;
  cursor: pointer;
}

.icon {
  font-size: 7rem;
  margin: auto;
}

@media (max-width: 1300px) {
  .search_results {
    grid-template-columns: 1fr;
    width: 10rem;
  }
}
