.participants_display {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.btn {
  margin-right: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.icon:hover {
  color: lightblue;
}

a {
  text-decoration: none;
}
